<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Takoot-Back</display-name>
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <!-- ServletContext parameter that provides access to the bean registry file -->
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>/WEB-INF/beans.xml</param-value>
  </context-param>
  
  <servlet>
  	<servlet-name>DispatcherServlet</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	
  	<!-- Provides the DispatcherServlet with the bean registry so that it is aware of all user-defined beans (controllers) -->
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value></param-value>
  	</init-param>
  	
  	<!-- Tells Tomcat to eagerly instantiate this servlet first -->
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <!-- The DispatcherServlet is a front controller, so it will intercept all requests -->
  <servlet-mapping>
  	<servlet-name>DispatcherServlet</servlet-name>
  	<url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>